@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}

figure {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	background: linear-gradient(45deg, violet, pink);
	min-height: 600px;

	h1 {
		position: absolute;
		top: 7vh;
		left: 4vw;
		font-size: 0;
		strong {
			font-size: 36px;
			font-family: "arial";
			line-height: 1.4;
			color: #fff;
			letter-spacing: 1px;
		}
		span {
			font: 12px/1 "arial";
			color: #fff;
			opacity: 0.8;
			letter-spacing: 1px;
		}
	}

	.menu {
		position: absolute;
		top: 8vh;
		right: 4vw;
		font-size: 24px;
		color: #fff;
	}
	> p {
		position: absolute;
		bottom: 7vh;
		left: 50%;
		transform: translateX(-50%);
		font: 12px/1 "arial";
		color: #fff;
		letter-spacing: 2px;
		opacity: 0.8;
	}

	.btnPrev {
		width: 60px;
		height: 60px;
		display: flex;
		align-items: center;
		cursor: pointer;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-20vw, -50%);
		span {
			font: 11px/1 "arial";
			color: #fff;
			transition: 0.5s;
			opacity: 1;
			transform: translateX(20%);
		}
		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: #fff;
			transform: rotate(-180deg);
			transform-origin: left center;
			position: absolute;
			top: 50%;
			left: 0;
			transition: 0.5s;
		}
		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: #fff;
			transform: rotate(180deg);
			transform-origin: left center;
			position: absolute;
			bottom: 50%;
			left: 0;
			transition: 0.5s;
		}
		&:hover {
			&::before {
				transform: rotate(-30deg);
			}
			&::after {
				transform: rotate(30deg);
			}
			span {
				transform: translateX(100%);
				opacity: 0;
			}
		}
	}
	.btnNext {
		width: 60px;
		height: 60px;
		display: flex;
		align-items: center;
		cursor: pointer;
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(20vw, -50%);
		span {
			font: 11px/1 "arial";
			color: #fff;
			transition: 0.5s;
			opacity: 1;
			transform: translate(20%);
		}
		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: #fff;
			transform: rotate(-180deg);
			transform-origin: right center;
			transition: 0.5s;
			position: absolute;
			top: 50%;
			left: 0;
		}
		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: #fff;
			transform: rotate(180deg);
			transform-origin: right center;
			transition: 0.5s;
			position: absolute;
			top: 50%;
			left: 0;
		}
		&:hover {
			&::before {
				transform: rotate(-30deg);
			}
			&::after {
				transform: rotate(30deg);
			}
			span {
				transform: translateX(-100%);
				opacity: 0;
			}
		}
	}

	section {
		width: 20vw;
		height: 65vh;
		position: absolute;
		left: 50%;
		margin-left: -10vw;
		top: 140%; //140%
		margin-top: -25vh;
		transition: 1s;

		article {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;

			// &:nth-of-type(1) {
			// 	transform: rotate(0deg) translateY(-150%);
			// }
			// &:nth-of-type(2) {
			// 	transform: rotate(45deg) translateY(-100%);
			// }
			// &:nth-of-type(3) {
			// 	transform: rotate(90deg) translateY(-100%);
			// }
			// &:nth-of-type(4) {
			// 	transform: rotate(135deg) translateY(-100%);
			// }
			// &:nth-of-type(5) {
			// 	transform: rotate(180deg) translateY(-100%);
			// }
			// &:nth-of-type(6) {
			// 	transform: rotate(225deg) translateY(-100%);
			// }
			// &:nth-of-type(7) {
			// 	transform: rotate(270deg) translateY(-100%);
			// }
			// &:nth-of-type(8) {
			// 	transform: rotate(315deg) translateY(-100%);
			// }
			.inner {
				width: 100%;
				height: 100%;
				background: #fff;
				border-radius: 10px;
				box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
				padding: 5vh 2.5vw 8vh;
				display: flex;
				justify-content: center;
				align-content: space-between;
				flex-wrap: wrap;
				opacity: 0.6;
				transform: scale(0.8);
				transition: opacity 1s, transform 1s;

				.pic {
					width: 15vw;
					height: 15vw;
					border-radius: 50%;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
					background-image: url(../img/member1.jpg);
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					&::before,
					&::after {
						content: "";
						display: block;
						width: inherit;
						height: inherit;
						border-radius: inherit;
						background-image: inherit;
						background-repeat: inherit;
						background-size: cover;
						position: absolute;
						top: 0;
						left: 0;
						//animation-play-state: paused;
					}
					&::before {
						transform: translateY(10%);
						filter: blur(20px) brightness(1.6);
						animation: ani2 4s linear infinite;
						animation-play-state: paused;
					}
					&::after {
						animation: ani 4s linear infinite;
						animation-play-state: paused;
					}
					.dot {
						width: 3vw;
						height: 3vw;
						border-radius: 50%;
						background: #e4f1ff;
						z-index: 3;
						box-shadow: inset 5px 5px 10px
							rgba(0, 0, 0, 0.1);
					}
					&.on {
						&::before {
							animation-play-state: running;
						}
						&::after {
							animation-play-state: running;
						}
					}
				}
				.txt {
					position: relative;
					text-align: center;
					h2 {
						font-size: 20px;
						font-family: "arial";
						color: #222;
						margin-bottom: 2vh;
					}
					p {
						font-size: 12px;
						font-family: "arial";
						color: #777;
						margin-bottom: 3vh;
					}
					ul {
						display: flex;
						justify-content: space-around;
						li {
							cursor: pointer;
							opacity: 0.6;
							transition: 0.5s;
							&.play {
								transform: scale(1.5);
								opacity: 0.9;
								&:hover {
									transform: scale(2);
									opacity: 1;
								}
							}
							&:hover {
								transform: scale(1.5);
								opacity: 0.8;
							}
						}
					}
				}
			}
			&.on .inner {
				opacity: 1;
				transform: scale(1.1);
			}
		}
	}
}

@keyframes ani {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes ani2 {
	0% {
		transform: translateY(10%) rotate(0deg);
	}
	100% {
		transform: translateY(10%) rotate(360deg);
	}
}
